<div class="header">
	<div class="accessibility"><div class="wrapper">
		<a href="#oscn-content">Skip to Main Content</a>
		<a href="/v4/accessibility/">Accessibility Statement</a>
	</div></div>
	<div class="row upper-navigation"><div class="wrapper">
		<div class="col left">
			<ul>
			<li><a href="http://www.oscn.net/applications/oscn/SimpleHelp.asp?HelpContextID=">Help</a></li>
			<li><a href="http://www.oscn.net/applications/oscn/SimpleHelp.asp?HelpContextID=84">Contact Us</a></li>
			</ul>
		</div>
		<div class="col right">
			<ul><li><a href="https://www.oscn.net/epayments/">e-payments</a></li><!--
				--><li><a href="/jobs/">Careers</a></li></ul>
		</div>
	</div></div>
	<div class="navigation"><div class="wrapper">
		<div class="utility">
			<div class="brand"><a href="http://www.oscn.net"><img id="logo" class="screen-logo" alt="OSCN" src="http://www.oscn.net/assets/img/logo.jpg" /><img class="print-logo" alt="" src="http://www.oscn.net/assets/img/logo-bw.jpg" /></a></div>
			<div class="toggle" style="display: none;"><button type="button" data-toggle="navigation"><span class="sr-only">toggle navigation</span></button></div>
		</div>
		<nav>
			<ol class="menu">
				<li class="nav-item" id="home"><a href="/">Home</a></li>
				<li class="nav-item" id="courts_menu"><a href="/courts/">Courts</a>{% include menu-courts.html %}</li>
				<li class="nav-item" id="decisions"><a href="/decisions/">Decisions</a>{% include menu-template.html name='decisions' %}</li>
				<li class="nav-item" id="programs"><a href="/programs/">Programs</a>{% include menu-template.html name='programs' %}</li>
				<li class="nav-item" id="news"><a href="/news/">News</a>{% include menu-template.html name='news' %}</li>
				<li class="nav-item" id="legal-research"><a href="http://www.oscn.net/applications/oscn/start.asp?viewType=LIBRARY">Legal Research</a>{% include menu-template.html name='legal-research' %}</li>
				<li class="nav-item" id="court-records"><a href="/dockets/">Court Records</a>{% include menu-template.html name='court-records' %}</li>
				<li class="nav-item" id="quick-links"><a href="/quicklinks/">Quick Links</a>{% include menu-template.html name='quick-links' %}</li>
			</ol>
		</nav>
	</div></div>
</div>
