<div class="footer-wrapper">
<div class="row footer"><div class="wrapper">
	<div class="col">
		<h6>oscn</h6>
		<p>
		EMAIL: <a href="mailto:webmaster@oscn.net">webmaster@oscn.net</a><br />
		Oklahoma Judicial Center<br />
		2100 N Lincoln Blvd.<br />
		Oklahoma City, OK 73105</p>
	</div>
	<div class="col">
		<h6>courts</h6>
		<ul class="footer-list">
			<li><a href="http://www.oscn.net/oscn/schome/">Supreme Court of Oklahoma</a></li>
			<li><a href="http://www.okcca.net/">Court of Criminal Appeals</a></li>					
			<li><a class="pdf-link" target="_blank" href="http://www.oscn.net/static/osc-ojs-brochure-online.pdf">Court of Civil Appeals</a></li>
			<li><a href="http://www.oscn.net/applications/oscn/start.asp?viewType=COURTS">District Courts</a></li></ul>
	</div>
	<div class="col">
		<h6>decisions</h6>
		<ul class="footer-list">
			<li><a href="/decisions/">New Decisions</a></li>
			<li><a href="http://www.oscn.net/applications/oscn/Index.asp?ftdb=STOKCSSC">Supreme Court of Oklahoma</a></li>
			<li><a href="http://www.oscn.net/applications/oscn/Index.asp?ftdb=STOKCSCR">Court of Criminal Appeals</a></li>
			<li><a href="http://www.oscn.net/applications/oscn/Index.asp?ftdb=STOKCSCV">Court of Civil Appeals</a></li></ul>					
	</div>
	<div class="col">
		<h6>programs</h6>
		<ul class="footer-list">
			<li><a href="http://www.thesovereigntysymposium.com/splash.aspx">The Sovereignty Symposium</a></li>
			<li><a href="http://www.oscn.net/static/adr/default.aspx">Alternative Dispute Resolution</a></li>
			<li><a href="http://www.oscn.net/static/adr/default.aspx">Early Settlement Mediation</a></li>
			<li><a href="http://www.oscn.net/Sites/CourtImprovement/default.aspx">Children's Court Improvement Program (CIP)</a></li>
			<li><a href="/jnc/">Judicial Nominating Commission</a></li>
			<li><a href="http://www.oscn.net/static/forms/aoc_forms/interpreter.asp">Certified Courtroom Interpreters</a></li>
			<li><a href="http://www.oscn.net/static/forms/aoc_forms/csr.asp">Certified Shorthand Reporters</a></li>
			<li><a href="/pages/accessibility">Accessibility ADA</a></li></ul>					
	</div>
</div></div>
<div class="lower-footer"><div class="wrapper">
	<ul>
		<li><a href="http://www.oscn.net/applications/oscn/SimpleHelp.asp?HelpContextID=84">Contact Us</a></li>
		<li><a href="/jobs/">Careers</a></li>
		<li><a href="/pages/accessibility">Accessibility ADA</a></li>
	</ul>
	<span style="clear: both; display: block;"></span>
</div></div>
</div>
