{% assign about = site.data.menu-courts[0] %}
{% assign district = site.data.menu-courts[1] %}
<div class="sub-nav menu-courts">
	<ol class="row">
		<li class="sub-nav-group col">
		<!-- OTHER COURTS -->
		{% for group in about.group %}
			<h3>{{group.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines}}</h3>
			<ol>{% for child in group.children %}
				<li>{{ child.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</li>{% endfor %}
			</ol>
		{% endfor %}
		</li> 
		<li class="sub-nav-group col">
		<!-- COUNTIES -->
		{% for group in district.group %}<h3>{{group.title}}</h3>
			<ol class="courts-list row">{% for child in group.children %}
				{% assign group_number = forloop.index%}
				<li class="courts-group col"><h4 class="sr-only">{{ child.title }}</h4>
				<ol class="county-list">{% for item in child.children %}
					<li class="courtListitem group{{group_number}}"><a href="http://www.oscn.net/courts/{{ item.title | downcase }}">{{ item.title }}</a></li>{% endfor %}</ol></li>
			{% endfor %}</ol>
		{% endfor %}
		</li>
	</ol>
</div>