.print-logo { display: none; }
.header {
	.wrapper {
		padding: 0;
	}
}
.accessibility {
	.wrapper {
		padding: 0;
		margin: 0;
	}
	background-color: white;
	a {
		position: absolute;
		top: -1000px;
		left: -1000px;
		height: 1px;
		width: 1px;
		text-align: left;
		overflow: hidden;
	}
	a:focus {
		position: relative;
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		overflow: visible;
	}
}
.upper-navigation {
	background-color: $light-background;
	ul {
		margin: 0;
		list-style: none;
		li {
			display: inline;
		}
		li a {
			border-left: solid 1px black;
		}
		li:last-child a {
			border-right: solid 1px black;
		}
	}
	a {
		display: inline-block;
		padding: 5px 10px;
		color: white;
		text-transform: uppercase;
	}
	.col:first-child {
		ul a {
			text-transform: none;
		}
	}
	.col {
		width: 50%;
		padding: 0;
	}
	.left { }
	.right {
		text-align: right;
	}
}
.navigation{
	background-color: $dark-background;
	.wrapper {
		position: relative;
		height: $navigation-height;
		//min-height: $navigation-height + 15px;
	}
	.utility {
		.brand {
			float: left;
			a {
				position: relative;
				z-index: 100;
				display: table-cell;
				vertical-align: middle;
				height: $navigation-height;
				overflow: hidden;
				//height: $navigation-height;
				> img{
					height: $navigation-height - 10;
				}
			}
		}
		.toggle {
			float: right;
			> button {
				position: relative;
				z-index: 99;
				height: 37px;
				width: 37px;
				margin: 15px 15px 10px 0;
				padding: 0;
				background-color: transparent;
				border: 0;
				background: url("http://www.oscn.net/assets/img/hamburger.jpg") no-repeat center;
				background-size: 50px 50px;
			}
		}
	}
	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		height: $navigation-height;
		.nav-item {
			display: inline-block;
			height: $navigation-height;
			> a {
				font-weight: bold;
				color: white;
				position: relative;
				display: table-cell;
				padding: 0 15px;
				vertical-align: middle;
				height: $navigation-height;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
		@media screen and (max-width: 768px + 49) {
			//padding-top: $navigation-height;
			.nav-item {
				display: block;
			}
		}
	}
}

@media screen and (min-width: 768px + 50px) and (max-width: 992px + 49) {
.navigation {
	.menu {
		.nav-item {
			> a {
				padding: 0 8px;
			}
		}
	}
	.brand {
		padding: 0;
		margin: 0;
		//height: $navigation-height;// + 10px;
		//width: $navigation-height;// + 10px;
	}
	.brand a {
		width: 65px;
		background-image: url('http://www.oscn.net/assets/img/logo.jpg');
		background-size: 400%;
		background-repeat: no-repeat;
		background-position: 0 center;
		img {
			width: 250px;
			//height: 42px;
			display: none;
		}
	}
}	
}


@import
        "submenu"
;