.print-logo { display: none; }
.header {
	.wrapper {
		padding: 0;
	}
}
.accessibility {
	.wrapper {
		padding: 0;
		margin: 0;
	}
	background-color: white;
	a {
		position: absolute;
		top: -1000px;
		left: -1000px;
		height: 1px;
		width: 1px;
		text-align: left;
		overflow: hidden;
	}
	a:focus {
		position: relative;
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		overflow: visible;
	}
}
.upper-navigation {
	background-color: $light-background;
	ul {
		margin: 0;
		list-style: none;
		li {
			display: inline;
		}
		li a {
			border-left: solid 1px black;
		}
		li:last-child a {
			border-right: solid 1px black;
		}
	}
	a {
		display: inline-block;
		padding: 5px 10px;
		color: white;
		text-transform: uppercase;
	}
	.col:first-child {
		ul a {
			text-transform: none;
		}
	}
	.col {
		width: 50%;
		padding: 0;
	}
	.left { }
	.right {
		text-align: right;
	}
}
.navigation{
	background-color: $dark-background;
	.wrapper {
		position: relative;
		min-height: $navigation-height + 15px;
	}
	.utility {
		.brand {
			float: left;
			a {
				position: relative;
				z-index: 100;
				padding: 10px 5px;
				display: block;
				height: $navigation-height + 10px;
				> img{
					height: $navigation-height - 10px;
				}
			}
		}
		.toggle {
			float: right;
			> button {
				position: relative;
				z-index: 99;
				height: 37px;
				width: 37px;
				margin: 15px 15px 10px 0;
				padding: 0;
				background-color: transparent;
				border: 0;
				background: url("http://www.oscn.net/assets/img/hamburger.jpg") no-repeat center;
				background-size: 50px 50px;
			}
		}
	}
	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		.nav-item {
			display: inline-block;
			> a {
				font-weight: bold;
				color: white;
				position: relative;
				display: block;
				padding:  (($navigation-height / 2) - 3) 0.75em;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
		@media screen and (max-width: 768px + 49) {
			padding-top: $navigation-height;
			.nav-item {
				display: block;
			}
		}
	}
}




@import
        "submenu"
;